body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #23395d; /* Fundo mais escuro para melhor contraste */
    color: #faf2f2;
    line-height: 1.6;
    font-size: 18px;
}

header {
    background-color: #1d2f53; /* Cabeçalho mais escuro */
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra mais pronunciada */
}

.logo {
    max-width: 220px;
}

.search-container {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

#searchInput {
    width: 320px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

#searchInput:focus {
    border-color: #dadf3f;
    outline: none;
}

button {
    padding: 12px 24px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    background-color: #dadf3f;
    color: #23395d; /* Melhor contraste */
    border: none;
    border-radius: 6px; /* Bordas mais suaves */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #c4c632; /* Cor de destaque no hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ao passar o mouse */
}

.tabs {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    flex-wrap: wrap;
}

.tablinks {
    background-color: #444;
    color: white;
    padding: 14px 28px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 0 2px;
    border-radius: 6px 6px 0 0; /* Bordas arredondadas */
    transition: background-color 0.3s ease, color 0.3s ease;
    flex: 1 1 auto;
}

.tablinks:hover {
    background-color: #666;
}

.tablinks.active {
    background-color: #dadf3f;
    font-weight: bold;
    color: #333;
    border-bottom: 2px solid #c4c632; /* Indicação clara da aba ativa */
}

.tabcontent {
    display: none;
    padding: 30px;
    border: 2px solid #1d2f53;
    background-color: #3e5a9d; /* Cor de fundo suave */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: -1px;
}

.tabcontent h2 {
    margin-top: 0;
    font-weight: 700;
    font-size: 24px;
}

.tabcontent ul {
    list-style-type: none;
    padding: 0;
}

.tabcontent li {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

/* Sub-aba */
.sub-tabcontent {
    display: none;
}

.sub-tabcontent.active {
    display: block;
}

/* Foco visível */
button:focus, .tablinks:focus {
    outline: 2px solid #dadf3f;
}
